name: Check

on:
  pull_request: # Check Pull Requests

  push:
    branches:
      - main # Check branch after merge

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-code-style:
    name: Code Style
    uses: playframework/.github/.github/workflows/cmd.yml@v2
    with:
      cmd: sbt validateCode

  check-binary-compatibility:
    name: Binary Compatibility
    uses: playframework/.github/.github/workflows/binary-check.yml@v2

  tests:
    name: Tests
    needs:
      - "check-code-style"
      - "check-binary-compatibility"
    uses: playframework/.github/.github/workflows/cmd.yml@v2
    with:
      scala: 2.12.16, 2.13.8
      cmd: sbt ++$MATRIX_SCALA test

  samples:
    name: Samples
    needs:
      - "tests"
    uses: playframework/.github/.github/workflows/cmd.yml@v2
    with:
      add-dimensions: >-
        {
          "sample": [ "scalaChat", "scalaMultiRoomChat", "scalaClusteredChat", "javaChat", "javaMultiRoomChat", "javaClusteredChat" ]
        }
      cmd: sbt $MATRIX_SAMPLE/test

  finish:
    name: Finish
    if: github.event_name == 'pull_request'
    needs: # Should be last
      - "samples"
    uses: playframework/.github/.github/workflows/rtm.yml@v2
