name: Check

on:
  pull_request: # Check Pull Requests

  push:
    branches:
      - main # Check main branch after merge

concurrency:
  # Only run once for latest commit per ref and cancel other (previous) runs.
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-code-style:
    name: Code Style
    uses: playframework/.github/.github/workflows/cmd.yml@v2
    with:
      cmd: sbt validateCode

  tests:
    name: Tests
    needs: # Waiting more lightweight checks
      - "check-code-style"
    uses: playframework/.github/.github/workflows/cmd.yml@v2
    with:
      scala: 2.12.15, 2.13.8
      cmd: sbt ++$MATRIX_SCALA test

  samples:
    name: Samples
    needs: # Waiting more lightweight checks
      - "tests"
    uses: playframework/.github/.github/workflows/cmd.yml@v2
    with:
      add-dimensions: >-
        {
          "sample": [ "scalaChat", "scalaMultiRoomChat", "scalaClusteredChat", "javaChat", "javaMultiRoomChat", "javaClusteredChat" ]
        }
      cmd: sbt $MATRIX_SAMPLE/test

  finish:
    name: Finish
    needs: # Should be last
      - "samples"
    uses: playframework/.github/.github/workflows/rtm.yml@v2
